.athena-header {
    align-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    display: flex; 
    height: 580px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;

    h1,h2,h3,h4,h5,h6 {
        color: #0f457e;
        font-family: 'Zenith';
        font-size: 60px;
        font-weight: 100;
        line-height: 80px;
        text-align: center;
    }

	@include media-breakpoint-down(md) {
        .container {
            height: auto;
        }

        h1,h2,h3,h4,h5,h6 {
            font-size: 50px;
            line-height: 50px;
        }
    }
}

.athena-quemsomos {
    overflow: hidden;

    &--item {
        background: #0974bd;
        position: relative;
        width: 100%;
    }

    .col-6,
    .col-lg-6,
    .col-md-6 {
        padding: 60px;
        z-index: 1;
    }
   
    &--highlight {
        color: #0974bd;
        font-size: 130px;
        line-height: 95px;
        font-family: 'Zenith';
        font-weight: 100;
        float: right;
        padding: 100px 60px 0;
    }

    h6 {
        color: #fff;
        font-size: 20px;
        font-weight: 300;
    }

    li, p {
        color: color('blue');
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
    }

    ul {
        list-style: none;
        padding-left: 50px;
    }

    li {
        position: relative;
        padding-left: 20px;
        margin: 20px 0;

        &:before {
            background: #bfbfbf;
            border-radius: 50%;
            display: block;
            height: 10px;
            content: "";
            left: 0;
            position: absolute;
            top: 10px;
            width: 10px;
        }
    }

    &--bg {
        background-position: center;
        background-size: cover;
        display: block;
        height: auto;
        left: -60px;
        position: absolute;
        top: -60px;
        bottom: -60px;
        width: 50vw;
        z-index: -1;

        &.alt {
            right: -60px;
            left: auto;
        }
    }


	@include media-breakpoint-down(md) {
        .col-6,
        .col-md-6,
        .col-lg-6 {
            padding: 40px 15px;
            // position: static;
        }

        .position-relative {
            min-height: 400px!important;
        }

        &--highlight {
            font-size: 60px;
            line-height: 60px;
        }

        &--bg {
            // position: static;
            width: calc(100% + 30px);
            left: -15px!important;
            right: -15px!important;
            // margin: 0 -15px;
        }
        ul {
            padding-left: 0;
        }
    }
}

.athena-numeros {
    background-image: url('../images/athena-numeros.png');
    background-position: center;
    background-size: cover;
    padding: 50px 0 35px;
    position: relative;
    z-index: 2;
    margin-top: -50px;

    p {
        color: #fff;
        font-size: 24px;
        font-weight: 300;
        line-height: 30px;
        text-align: center;
        max-width: 310px;
        margin: 0 0 25px;
        width: 100%;

        strong {
            font-size: 65px;
            font-family: 'Zenith';
            font-weight: 100;
            display: block;			
            margin-bottom: 10px;
            margin-top: 20px;
            line-height: 45px;
        }
    }

	@include media-breakpoint-down(md) {
        padding: 50px 0;
        margin-top: 0;

        &--heading {
            margin-bottom: 20px;
        }

        p {
            max-width: 100%;
            
            strong {
                font-size: 45px;
                margin: 0;
            }
        }
    }
}

.athena-mapa {
    padding: 220px 0;
    overflow: hidden;
    background: #cad0e1 url(../images/athena-mapa-2.jpg) no-repeat center center;

    .container {
        position: relative;
    }

    .post-content h6 {
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 700;

        img {
            position: absolute;
            left: -15px;
            top: -10px;
        }
    }

    .btn-more {
        position: absolute;
        left: 70%;
        bottom: 50px;
    }

	@include media-breakpoint-down(md) {
        background-position: left;
        padding: 20px 0;
        
        .container img.mapa {
            position: static;
            transform: none;
            margin: 0 auto;
            max-width: 100%;
        }

        .btn-more{
            position: relative;
            left: auto;
            top: auto;
            margin-top: 50px;
        }
        .post-content h6 {
            padding-left: 40px;
            img {
                left: 10px;
            }
        }
    }
}