.page-template-page-fale-conosco .header nav a {
    color: #0570bb;
}


.fale-conosco {
    background-repeat: no-repeat;
    background-position: left top;
    background-color: #f1f1ee;
    background-size: 2062px;
    background-image: url(../images/fale-conosco.jpg);
    padding: 180px 0 95px;

    .container {
        position: relative;
    }

    &--highlight {
        top: 60px;
        left: 0%;
        max-width: 520px;
        width: 100%;
        position: absolute;
        text-align: right;

        h1,h2,h3,h4,h5,h6 {
            color: #0570bb;
            display: inline-block;
            font-family: 'Zenith';
            font-weight: 100;
            font-size: 60px;
            line-height: 80px;
            text-align: left;
        }
    }

    &--text {
        background-image: url(../images/fale-conosco-icon.png);
        background-position: 0 0;
        background-size: 70px;
        background-repeat: no-repeat;
        left: 22%;
        max-width: 335px;
        padding-left: 85px;
        padding-top: 30px;
        position: absolute;
        top: 350px;
        width: 100%;

        p {
            color: #0f457e;
            font-size: 15px;
            font-weight: 300;
            line-height: 27px;

            a {color: inherit;}
        }
    }

    &--form {
        float: right;
        max-width: 370px;
        position: relative;
        width: 100%;
        z-index: 99;
        min-height: 450px;

        label {
            font-size: 16px;
            font-weight: 400;
            color: color('green');
            padding: 0 30px;
        }

        .form-control {
            background: #138ce0;
            color: #fff;
            height: 50px;
            line-height: 50px;
            padding: 0 30px;
            font-size: 13px;
            border: 0;
            border-radius: 30px;
        }

        textarea.form-control {
            height: 190px;
            line-height: 20px;
            padding-bottom: 20px;
            padding-top: 20px;
            resize: none;
        }

        button {
            background: none;
            border: 0;
            color: #0f457e;
            float: right;
            font-size: 16px;
            font-weight: 300;

            i {
                background: color('green');
                color: #fff;
                display: inline-block;
                font-size: 18px;
                font-style: normal;
                height: 40px;
                line-height: 40px;
                margin-right: 25px;
                border-radius: 50%;
                text-align: center;
                width: 40px;
            }
        }
    }

    &:after {
        content: "";
        clear: both;
        display: table;
    }

	@include media-breakpoint-down(md) {
        margin-top: 51px;
        // background-size: 100% auto;

        .container {
            min-height: 0;
            padding-bottom: 5px;
        }

        &--text {
            transform: none;
            position: static;
            

            h1,h2,h3,h4,h5,h6 {
                font-size: 50px;
                line-height: 50px;
            }
        }

        &--highlight {
            position: static;            
            margin-bottom: 20px;
            margin-left: 0;
            padding: 0px 0 0;
            text-align: left;

            h1,h2,h3,h4,h5,h6 {
                font-size: 45px;
                line-height: 50px;
                margin-bottom: 0;
                color: #0570bb;
            }

            br {
                display: none;
            }
        }

        &--form {
            max-width: 100%;
        }
    }
}