.home-slider {
	position: relative;

	.owl-carousel {
		z-index: 1;
	}

	.main-arrow-down svg path {
		fill: #fff!important;
	}

	&--item {
		height: 691px;
		display: block;
		position: relative;
		background-size: cover;
		background-position: center;
		width: 100%;
	}

	&--text {
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		max-width: 400px;
		margin-top: 50px;
	}

	h6 {
		font-weight: 400;
		font-size: 26px;
		color: #fff;
		letter-spacing: 10px;
		margin-bottom: 20px;
		transition: all 0.3s ease-in-out 0.5s;
		opacity: 0;
	}

	h1,h2,h3,h4,h5 {
		color: #fff;
		line-height: 76px;
		font-family: 'Zenith';
		font-weight: 100;
		font-size: 60px;
		transition: all 0.3s ease-in-out 1s;
		opacity: 0;
	}

	p {
		font-weight: 700;
		opacity: 0;
		transition: all 0.3s ease-in-out 1.5s;
		opacity: 0;
		font-size: 15px;
		color: #fff;
		line-height: 22px;
		letter-spacing: -0.5px;
		margin-bottom: 20px;
	}

	.active {
		h1,h2,h3,h4,h5,h6,p {
			opacity: 1;
		}
	}

	&--novidades {
		bottom: 10px;
		color: #014286;
		font-size: 14px;
		font-weight: 300;
		line-height: 20px;
		max-width: 200px;
		position: absolute;
		right: -30px;
		text-align: right;
		width: 100%;
		z-index: 2;

		svg {
			width: 28px;
			margin: 10px auto 0;
			display: block;

			path {
				fill: #014286!important;
			}
		}

		&:hover {
			color: #014286;
		}
	}
	
	@include media-breakpoint-down(md) {
		&--text {
			left: 15px;
		}

		&--novidades {
			display: none;
		}
	}

	// ipad {
	@media (min-width: 767px) and (max-width: 1024px) {
		&--text {
			left: 50%;
		}

		&--novidades {
			display: none;
		}
	}	
}

.home-numbers {
	background: url(../images/home-numbers.png);

	.container {
		min-height: 380px;
		position: relative;
		max-width: 1500px;
	}

	&--item {
		display: flex;
		justify-content: center;
		flex-direction: column;
		position: relative;
		max-width: 220px;

		p {
			color: #fff;
			font-size: 24px;
			font-weight: 300;
			line-height: 25px;
			text-align: center;

			strong {
				font-size: 68px;
				color: #fff;
				font-family: 'Zenith';
				white-space: nowrap;
				font-weight: 100;
				display: block;			
				margin-bottom: 10px;
				margin-top: 20px;
				line-height: 45px;
			}
		}

		&:last-of-type {
			max-width: 250px;
			margin-left: 90px;
			justify-content: flex-start;
			
			p {
				text-align: left;
				font-size: 18px;

				strong {
					font-size: 60px;
					line-height: 55px;
				}
			}
		}
	}

	small.alert {
		bottom: -5px;
		color: #fff;
		display: block;
		font-size: 16px;
		position: absolute;
		width: 100%;
	}

	.btn-more {
		color: #fff;
	}

	@include media-breakpoint-down(lg) {
		background-size: cover;
		
		.container {
			padding: 80px 0;
		}
	}

	@include media-breakpoint-down(sm) {
		.container {
			padding: 40px 0 20px;
		}

		&--item {
			p strong {
				font-size: 51px;
			}

			&:last-of-type {
				margin-left: 0;
			}
		}

		small.alert {
			position: static;
			margin-top: 50px;
		}
	}

    // ipad
	@media (min-width: 768px) and (max-width: 1024px) {
		.d-flex {
			flex-direction: column!important;
		}
	}
}

.home-marcas {
	background-color: #dedede;
	background-position: center;
	background-size: cover;
	padding: 90px 0;

	h1,h2,h3,h4,h5,h6 {
		font-size: 35px;
		font-weight: 300;
		max-width: 525px;
		letter-spacing: 2px;
		color: #03538e;
		margin-bottom: 45px;
	}

	p {
		font-weight: 300;
		font-size: 18px;
		color: #03538e;
		line-height: 28px;
		max-width: 525px;
		margin-bottom: 70px;
	}

	&--items {
		margin-bottom: 30px;

		img {
			max-width: 100%;
			filter: grayscale(100%);
			transition: all 0.3s ease-in-out;
			&:hover {
				filter: none;
			}
		}
	}

	@include media-breakpoint-down(md) {
		background-position: right;

		h1,h2,h3,h4,h5,h6 {
			margin-bottom: 25px;
		}

		p {
			margin-bottom: 35px;
		}

		&--items {
			flex-direction: column;
			a,span {
				max-width: 100%;
				margin-bottom: 35px;
			}

			@media (min-width: 768px) {
				flex-direction: row;
			}
		}
	}	
}