.marcas-header {
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #0570bb;
    background-size: 100% auto;

    .main-heading{
        margin-bottom: 30px;
    }
    
    .container {
        min-height: 830px;
        position: relative;
    }

    &--text {
        top: 490px;
        left: 0;
        max-width: 560px;
        width: 100%;
        position: absolute;

        p {
            color: #fff;
            font-size: 15px;
            font-weight: 300;
            line-height: 26px;
            margin-bottom: 25px;

            strong {
                color: color('green');
            }
        }
    }

    &--highlight {
        top: 280px;
        left: 55%;
        max-width: 319px;
        width: 100%;
        position: absolute;

        h1,h2,h3,h4,h5,h6 {
            color: color('green');
            font-family: 'Zenith';
            font-weight: 100;
            font-size: 60px;
            letter-spacing: -2px;
            line-height: 80px;
        }
    }

	@include media-breakpoint-down(md) {
        margin-top: 51px;
        background-size: 200% auto;

        .container {
            min-height: 0;
            padding-bottom: 200px;
        }

        &--text {
            transform: none;
            position: static;

            h1,h2,h3,h4,h5,h6 {
                font-size: 50px;
                line-height: 50px;
            }
        }

        &--highlight {
            position: static;            
            margin-bottom: 20px;
            margin-left: 0;
            padding: 200px 0 0;

            h1,h2,h3,h4,h5,h6 {
                font-size: 45px;
                line-height: 55px;
            }
        }
    }

    // ipad
    @media (max-width: 1024px) {

        &--text {
            h1,h2,h3,h4,h5,h6 {
                font-size: 50px;
                line-height: 50px;
            }
        }

        &--highlight {
            h1,h2,h3,h4,h5,h6 {
                font-size: 45px;
                line-height: 55px;
            }
        }
    }

    @media (min-width: 760px) and (max-width: 900px){
        &--highlight {
            padding-top: 340px;
        }
    }
}

.marcas-items {
    background-image: url(../images/marcas-sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;

    .main-heading {
        h1,h2,h3,h4,h5,h6 {
            margin-bottom: 0;
        }
    }

	@include media-breakpoint-down(md) {
        background: color('blue');
    }
}

.marcas-box {
    overflow: hidden;

    .container {
        z-index: 2;
        position: relative;
        margin-bottom: 50px;
        padding: 75px 40px;
        position: relative;

        &:after {
            background: #f4f4f4;
            box-shadow: 1px 1px 40px rgba(#000,0.5);
            border-radius: 35px 0 0 35px;
            content: "";
            display: block;
            height: auto;
            position: absolute;
            left: 0;
            bottom: 40px;
            top: 40px;
            width: 20000px;
            z-index: -1;
        }
    }

    img {
        display: block;
        margin: 40px auto;
        max-width: 100%;
        height: auto;
        align-self: center;
        filter: grayscale(100%);
        transition: all 0.3s ease-in-out;
        
        &:hover {
            filter: none;
        }
    }

    &.alt .container{
        &:after {
            right: 0;
            border-radius: 0 35px 35px 0;
            left: auto;
        }
    }

	@include media-breakpoint-down(md) {

        .container {
            padding-bottom: 20px;
            padding-top: 20px;
            margin-top: 30px;
            
            &:after {
                top: 0;
                bottom: 0;
                box-shadow: none;
            }
        }

        img {
            margin: 10px auto;
        }
    }
}