.noticias-header {
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #0570bb;

    .container {
        min-height: 370px;
        position: relative;
    }

    &--highlight {
        top: 200px;
        right: 60%;
        max-width: 520px;
        width: 100%;
        position: absolute;
        text-align: right;

        h1,h2,h3,h4,h5,h6 {
            color: color('green');
            display: inline-block;
            font-family: 'Zenith';
            font-size: 68px;
            font-weight: 100;
            letter-spacing: -2px;
            line-height: 60px;
            text-align: left;
        }
    }

    &--text {
        top: 320px;
        left: 45%;
        max-width: 560px;
        width: 100%;
        position: absolute;

        p {
            color: #fff;
            font-size: 15px;
            font-weight: 300;
            line-height: 26px;
            margin-bottom: 25px;
        }
    }

	@include media-breakpoint-down(lg) {
        padding-top: 51px;
        background-size: 200% auto;

        .container {
            min-height: 0;
            padding-bottom: 5px;
        }

        &--text {
            transform: none;
            position: static;
            

            h1,h2,h3,h4,h5,h6 {
                font-size: 50px;
                line-height: 50px;
            }
        }

        &--highlight {
            position: static;            
            margin-bottom: 20px;
            margin-left: 0;
            padding: 140px 0 0;
            text-align: left;

            h1,h2,h3,h4,h5,h6 {
                font-size: 45px;
                line-height: 50px;
                margin-bottom: 0;
            }

            br {
                display: none;
            }
        }
    }
}

.noticias-loop {
    background: #eeeeee;
    padding: 60px 0 70px;
}

.noticias-btn {
    color: color('blue');
    display: block;
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
    text-align: center;

    i {
        background: color('green');
        border-radius: 50%;
        color: #fff;
        display: inline-block;
        font-size: 30px;
        font-style: normal;
        font-weight: 300;
        height: 40px;
        line-height: 35px;
        text-align: center;
        width: 40px;
        margin-right: 10px;
    }
}