.single-noticias {
    background: #eeeeee;
    padding-bottom: 100px;

    &--header {
        margin-bottom: 50px;

        h1,h2,h3,h4,h5,h6 {
            font-size: 28px;
            font-weight: 700;
            color: color('blue');
            margin: 0;
        }

        time {
            color: color('green');
            display: block;
            font-size: 14px;
            font-weight: 400;
        }
        @include media-breakpoint-down(lg) {
            margin-bottom: 25px;
        }
    }

    .noticias-header {
        margin-bottom: 90px;

        @include media-breakpoint-down(lg) {
            margin-bottom: 30px;
        }
    }

    @include media-breakpoint-down(lg) {
        padding-bottom: 25px;
    }
}