.termos {
    background: #eeeeee;
    padding: 0 0 115px;
}

.termos-header {
    background-position: center;
    background-size: cover;
    height: 270px;
    margin-bottom: 60px;
    width: 100%;
}

.termos-heading {
    h1,h2,h3,h4,h5,h6 {
        color: color('blue');
        display: block;
        font-size: 28px;
        font-weight: 700;
        margin: 0 0 50px;
        text-align: center;
    }
}