.footer {
	text-align: center;

	.logo {
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: center;
		min-height: 180px;
	}
	
	&--slogan {
		align-content: center;
		align-items: center;
		background: #0570bb;
		display: flex;
		justify-content: center;
		min-height: 113px;
		color: #fff;
		font-family: 'Gotham';
		font-weight: 300;

		.container {
			position: relative;
		}

		a {
			background: #fff;
			border-radius: 50%;
			box-shadow: 0px 0px 20px -8px rgba(0,0,0,0.75);
			display: block;
			height: 60px;
			position: absolute;
			right: 0;
			top: -78px;
			width: 60px;

			svg {
				width: 22px;
				height: auto;
				margin-top: 12px;
				path {
					fill: #0f457e;
				}
			}
		}
	}

	nav {
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: center;
		min-height: 113px;

		a {
			font-size: 15px;
			color: #666666;
			padding: 0 25px;
			font-weight: 700;
		}
	}

	@include media-breakpoint-down(md) {
		padding-bottom: 0;

		.logo {
			min-height: 80px;

			img {
				width: 140px;
			}
		}
		
		&--slogan {
			min-height: 50px;

			a {
				width: 40px;
				height: 40px;
				top: -60px;
				right: 15px;
	
				svg {
					width: 15px;
					margin-top: 7px;
				}
			}
		}

		nav {
			min-height: 50px;
		}
	}
}