// header geral
.header {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 9;

	.container {
		position: relative;
		height: 130px;
	}

	.logo {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}

	nav {
		float: right;
		height: 130px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 780px;
		max-width: calc(100% - 205px);

		a {
			color: #fff;
			font-size: 13px;
			font-weight: 300;
			letter-spacing: 2.5px;
			text-align: left;
			margin-left: 15px;
			position: relative;

			@media (max-width: 1200px) {
				font-size: 12px;
				margin-left: 10px;
				letter-spacing: 1px;
			}

			&:after {
				background: #014286;
				bottom: -6px;
				content: "";
				display: block;
				height: 5px;
				left: 0;
				max-width: 30px;
				position: absolute;
				width: 0;
				transition: all 0.3s ease-in-out;
			}

			&.active,
			&:hover {
				color: #82cbff;

				&:after {
					width: 100%;
				}
			}

			&.active {
				color: #82cbff
			}
		}
	}

	&--linkedin {
		position: absolute;
		right: 0;
		top: 10px;
		border: 2px solid #fff;
		border-radius: 50%;
		width: 36px;
		height: 36px;
		margin-right: 20px;

		svg {
			display: block;
			height: auto;
			margin: 5px auto;
			width: 18px;

			path {
				fill: #fff;
			}
		}
	}

	@include media-breakpoint-down(sm) {
		display: none;
	}
}

// header mobile
.header-mobile {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 50px;
	background: color('green');
	width: 100%;
	z-index: 99999;
	align-items: center;
	align-content: center;
	justify-content: center;
	text-align: center;

	&--button {
	    background: none;
	    border: 0;
	    cursor: pointer;
	    display: inline-block;
	    height: 35px;
	    outline: none;
	    padding: 0;
	    text-align: center;
	    width: 36px;
	    position: absolute;
	    left: 15px;
	    top: 50%;
	    transform: translateY(-50%);
	    margin-left: -5px;
		
		span {
			bottom: 0;
			color: #ffffff;
			display: block;
			font-size: 10px;
			font-weight: 600;
		}

	    div{
			background: #fff;
			display: block;
			font-size: 0;
			height: 3px;
			margin-bottom: 10px;
			margin-top: 10px;
			position: relative;
			transition: 0.5s ease-in-out;
			width: 20px;
	   		border-radius: 140px;
	   		padding: 0;
	    	border: 0;
	    	margin-left: 5px;

			&:before,
			&:after {
				border-radius: inherit;
			    background: #fff;
			    content: '';
			    display: block;
			    height: 100%;
			    width: 26px;
			    position: absolute;
			    transition: .5s ease-in-out;
			}

		    &:before {
		        top: -7px;
		    }

		    &:after {
		        bottom: -7px;
		    }
	    }

	    &.active div {
	        transform: rotate(45deg);
	        background: #fff;
	        width: 26px;

		    &:before {
		        transform: rotate(90deg);
		        top: 0;
		        background: #fff;
		    }

		    &:after {
		        transform: rotate(90deg);
		        bottom: 0;
		        background: #fff;
		    }
	    }

	    &:focus {
	    	outline: none;
	    }
	}

	img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}

	@include media-breakpoint-down(sm) {
		display: flex;

		img {
			max-width: 120px;
			padding-right: 20px;
		}
	}
}

.header-mobile-nav {
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: 100% auto;
	height: calc(100% - 50px);
	overflow: auto;
	padding: 20px 0;
	position: fixed;
	top: 50px;
	width: 100%;
	left: -100%;
	background: #3C3D42;
	z-index: 999;
	transition: all 0.2s ease-in-out;
	text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

	a {
		border-bottom: 0.4px solid #707070;
		color: #fff;
		display: block;
		font-size: 14px;
		font-weight: 600;
		padding: 15px 20px;
		margin: 0 40px;
		width: calc(100% - 80px);
		text-align: left;
	}

	&.active {
		left: 0;
	}
}