*,
body {
	font-family: 'Quicksand', sans-serif;
}

html,body {
	min-height: 100%;
  position: relative;
}

a:hover {
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}

.main-arrow-down {
	z-index: 2;
	bottom: 30px;
	left: 50%;
	margin-left: -20px;
	position: absolute;
	width: 40px;

	svg {
		height: auto;
		width: 100%;

		path {
			fill: color('green')!important;
		}
	}
}

.btn-more {
	color: #0570bb;
	font-size: 16px;
	font-weight: 300;
	height: 42px;
	display: inline-block;
	line-height: 42px;
	position: relative;
	padding-left: 60px;

	&:before {
		background: #0f457e;
		border-radius: 50%;
		color: #fff;
		content: "+";
		position: absolute;
		left: 0;
		top: 0;
		font-size: 30px;
		height: 42px;
		line-height: 36px;
		font-weight: 700;
		margin-right: 25px;
		text-align: center;
		width: 42px;
	}
}

.post-content {
	h1,h2,h3,h4,h5,h6 {
		color: color('blue');
		font-weight: 700;
		margin: 0 0 35px;
	}

	h5 {
		font-size: 20px;
	}

	h6 {
		font-size: 18px;
	}

	p {
		color: color('blue');
		font-size: 16px;
		font-weight: 300;
		line-height: 28px;
		margin-bottom: 25px;

		strong {
			font-weight: 700;
		}

		a {
			color: inherit;
			text-decoration: underline;

			&:hover {
				color: inherit;
			}
		}
	}

	img {
		max-width: 100%;
	}

	small {
		font-size: 14px;
		line-height: 20px;
		display: inline-block;
	}
}

.main-heading {
    h1,h2,h3,h4,h5,h6 {
			display: inline-block;
			color: color('blue');
			font-size: 28px;
			font-weight: 700;
			margin: 0 0 50px;
			padding: 50px 0 0 40px;
			position: relative;
			z-index: 2;
			
			&:before {
					background: color('green');
					border-radius: 50%;
					content: "";
					display: block;
					height: 90px;
					position: absolute;
					width: 90px;
					left: 0;
					top: 0;
					z-index: -1;
			}
		}
		
		@include media-breakpoint-down(lg) {
				h1,h2,h3,h4,h5,h6 {
					padding: 25px 0 0 30px;
					font-size: 30px;

					&:before {
						width: 60px;
						height: 60px;
					}
				}
		}
}

.main-noticias {
	position: relative;
	padding: 85px 0 0;

	&:before {
		content: "";
		height: calc(100% - 80px);
		width: 100%;
		background: #eeeeee;
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
	}

	&--heading {
		h1,h2,h3,h4,h5,h6 {
			color: #0570bb;
			font-size: 35px;
			font-weight: 300;
			margin: 0 0 45px;

			a {
				margin-left: 50px;
				top: -9px;
			}
		}
	}
}

.main-noticias-item {
	border-radius: 15px;
	overflow: hidden;
	margin-bottom: 30px;

	&--text {
		background: #d8d8d8;
		padding: 30px 25px;
		color: #03538e;
		font-size: 18px;
		font-weight: 300;
		display: flex;
		align-items: center;
		
		span:after {
			content: ">>";
			color: color('green');
			margin-left: 5px;
		}
	}
	
	img {
		display: block;
		width: 100%;
		margin-bottom: -15px;
		height: auto;
		border-radius: 15px;
	}

	&.noimg {
		.main-noticias-item--text {
			font-size: 26px;
		}

		img {
			display: none;
		}
	}
}

.grid {
	column-count: 4;
	column-gap: 30px;
	transition: all 0.5s ease-in-out;

	.grid-item {
		display: inline-block;
		width:  100%;
		transition: all 0.5s ease-in-out;
	}

	@include media-breakpoint-down(lg) {
		column-count: 3;
	}

	@include media-breakpoint-down(md) {
		column-count: 1;
		.grid-item {
			display: block;
		}
	}
}

/* == WordPress WYSIWYG Editor Styles == */
.entry-content img {
	margin: 0 0 1.5em 0;
}
.alignleft, img.alignleft {
	margin-right: 1.5em;
	display: inline;
	float: left;
}
.alignright, img.alignright {
	margin-left: 1.5em;
	display: inline;
	float: right;
}
.aligncenter, img.aligncenter {
	margin-right: auto;
	margin-left: auto;
	display: block;
	clear: both;
}
.alignnone, img.alignnone {
	/* not sure about this one */
}

.wp-block-image {
	box-shadow: 0 0 50px rgba(#000, 0.3);
	overflow: hidden;
}

.owl-nav {
	.owl-prev,.owl-next{
		left: -31px;
		outline: none;
		position: absolute;
		top: 50%;
		margin-top: -60px;

		span {
			font-size: 0;
			&:before {
				@include fontawesome('\f104');
				font-size: 25px;
			}
		}

		&.owl-next {
			right: -31px;
			left: auto;

			span {
				&:before {
					@include fontawesome('\f105');
				}
			}
		}
	}
}

.owl-dots {
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%);
	width: 100%;
	display: flex;
	align-items: flex-end;
	flex-direction: column;

	@include media-breakpoint-down(xl) { max-width: 1140px; }
	@include media-breakpoint-down(lg) { max-width: 960px; }
	@include media-breakpoint-down(md) { max-width: 720px; }
	@include media-breakpoint-down(sm) { max-width: 540px; }
	@include media-breakpoint-down(xs) { max-width: 100%; }

	.owl-dot {
		background: #fff!important;
		border-radius: 50%;
		height: 10px;
		width: 10px;
		display: block;
		margin: 10px 0;
		position: relative;

		&:after {
			border-radius: 50%;
			content: "";
			height: 20px;
			left: 50%;
			position: absolute;
			top: 50%;
			margin: -10px 0 0 -10px;
			width: 20px;
		}

		&:focus {
			outline: none;
		}

		&.active {
			background: color('teal')!important;

			&:after {
				border: 1px solid color('teal');
			}
		}
	}

	@include media-breakpoint-down(md) {
		left: auto;
		right: 15px;
		transform: none;
	}
}

.main-paginate {
	text-align: center;
	padding: 100px 0;

	.page-numbers {
		border-radius: 	50%;
		color: #E3E3E3;
		display: inline-block;
		font-size: 18px;
		height: 36px;
		line-height: 36px;
		text-align: center;
		width: 36px;

		i {
			font-size: 10px;
			top: -3px;
			position: relative;
		}

		&.prev,
		&.next {
			background: rgba(#E3E3E3,0.2);
			color: #848484;
			height: 27px;
			line-height: 27px;
			width: 27px;
		}

		&.current {
			color: #fff;
			background: color('blue');
		}
	}

	@include media-breakpoint-down(md) {
		padding: 30px 0;
	}
}

.form-group {
	margin-bottom: 30px;

	label {
		align-items: center;
		color: #626262;
		display: inline-block;
		font-size: 16px;
		font-weight: 400;
		margin: 0 0 5px;

		strong {
			font-size: 22px;
			font-weight: 600;
			line-height: 25px;
		}

		i.fa,i.fab,i.fal,i.far,i.fas {
			font-size: 30px;
			color: color('red');
			width: 75px;
			text-align: center;
		}

		&.error {
			background-color: color('red');
			color: #fff;
			font-size: 14px;
			font-style: italic;
			margin-left: 4px;
			font-weight: 300;
			padding: 3px 5px;
			border-radius: 5px;
		}
	}

	legend {
		color: #383838;
		display: block;
		font-size: 22px;
		font-weight: 600;
		line-height: 30px;
		margin: 0 0 30px;
	}
}

.form-control {
	border-radius: 50px;
	color: #626262;
	font-size: 16px;
	font-weight: 300;
	height: 48px;
	line-height: 48px;
	border-color: #E3E3E3;

	&.filled {
		background: #F7F7F7;
	}

	&:focus {
		border-color: #E3E3E3;
		box-shadow: none;	
		outline: none;
	}
	
	&.error {
		border-color: color('red');
	}
}

textarea.form-control {
	border-radius: 18px;
}