@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500');
// font-family: 'Quicksand', sans-serif;

@font-face {
    font-family: 'Zenith';
    src: url('../webfonts/Zenith-Regular.woff2') format('woff2'),
        url('../webfonts/Zenith-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Zenith splatters';
    src: url('../webfonts/Zenith-splatters.woff2') format('woff2'),
        url('../webfonts/Zenith-splatters.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Zenith splatters';
    src: url('../webfonts/Zenith-splatters.woff2') format('woff2'),
        url('../webfonts/Zenith-splatters.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Zenith';
    src: url('../webfonts/Zenith-Regular.woff2') format('woff2'),
        url('../webfonts/Zenith-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../webfonts/Gotham-Book.woff2') format('woff2'),
        url('../webfonts/Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../webfonts/Gotham-Medium.woff2') format('woff2'),
        url('../webfonts/Gotham-Medium.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../webfonts/Gotham-Light.woff2') format('woff2'),
        url('../webfonts/Gotham-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../webfonts/Gotham-Bold.woff2') format('woff2'),
        url('../webfonts/Gotham-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


@import '~bootstrap/scss/bootstrap';

$owl-image-path: '../images/';
@import '~owl.carousel/src/scss/owl.carousel.scss';

@import 'mixins';
@import 'variables';

@import 'main';
@import 'header';
@import 'footer';

// pages
@import 'pages/home';
@import 'pages/a-athena';
@import 'pages/marcas';
@import 'pages/noticias';
@import 'pages/fale-conosco';
@import 'pages/single';
@import 'pages/termos';
