.icon-invest{
    background-image: url(../images/elementor-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    height: 33px;
    margin:  0 auto;
    width: 55px;
}